/PackAndAttack/*.suo
*.tlog
/PackAndAttack/Release
/Expand/Debug
/Expand/Release
/Explore/Debug
/Explore/Release
/MegaBot/Debug
*.sdf
*.suo
/MegaBot/Release
*.opensdf
/PackAndAttack/Debug
/Skynet/Skynet/Debug
/Skynet/Skynet/Release
/UnitInfo/Debug
/UnitInfo/Release
/XelNaga/AiurModule/Debug
